{% extends 'base.html' %}

{% block content %}

<div style="text-align:center; padding:40px;">

    <h1>🏡 About Cloud Kitchen</h1>

    <p style="font-size:18px; color:#666; font-style:italic;">
        Fresh homemade food, prepared with love and delivered to your doorstep.
    </p>

    <hr style="width:60%; margin:30px auto;">

    <h2>🍲 Our Story</h2>

    <p style="width:70%; margin:auto; line-height:30px; font-size:17px;text-align: justify;">
        <span style="color: #ff6b35;font-weight: bold;"">Welcome to Cloud Kitchen</b>!</span> We bring the authentic taste of homemade
        food to your doorstep. Our meals are carefully prepared by passionate
        home chefs using fresh ingredients, maintaining the highest standards of
        quality and hygiene. We believe every meal should feel like home,
        offering delicious food with fast and reliable delivery.
    </p>

    <br><br>

    <h2>💖 Why Choose Us?</h2>

    <p>🏡 Fresh Homemade Food</p><br>
    <p>👩‍🍳 Prepared by Skilled Home Chefs</p><br>
    <p>🥗 Fresh & Hygienic Ingredients</p><br>
    <p>🚚 Fast Doorstep Delivery</p><br>
    <p>❤️ Made with Love and Care</p>

</div>

{% endblock %}